streamlit
numpy
opencv-python-headless
mediapipe
tensorflow
cvzone
pyttsx3
googletrans
pyenchant
pillow

# Explicitly exclude other OpenCV versions to avoid conflicts
opencv-python
opencv-contrib-python
